<div class="loot-tab">
  <div class="row tab-header">
    <div class="col s12">
      <span class="tab-header-controls">
        {{#if model.error}}
          <h5>{{model.error.message}}</h5>
        {{/if}}
        <span class="tab-header-control-nav">
          {{#if model.prevRaidDate}}
            {{#link-to 'raiding.loot' model.prevRaidDate tagName='i' class='prev material-icons'}}
              {{link-to 'play_arrow' 'raiding.loot' model.prevRaidDate class='white-text'}}
            {{/link-to}}
          {{/if}}
        </span>
        <h4>{{model.raidDate}}</h4>
        <span class="tab-header-control-nav">
          {{#if model.nextRaidDate}}
            {{#link-to 'raiding.loot' model.nextRaidDate tagName='i' class='next material-icons'}}
              {{link-to 'play_arrow' 'raiding.loot' model.nextRaidDate class='white-text'}}
            {{/link-to}}
          {{/if}}
        </span>
      </span>
    </div>
  </div>
  <ul class="row">
    {{#each model.items as |item|}}
    <li class="col s12 m12 l6">
      <div class="card grey darken-4">
        <div class="card-content row">
          <div class="item-icon-wrap" class="s3 m2 col">
            <img src="https://api.nobreaksguild.com/cdn/images/icons/{{item.itemId.icon}}.png"/>
          </div>
          <div class="content-wrap s9 m10 col">
            <h6 class="name col s12 white-text">
              <p style="color: #{{item.itemId.quality.hex}}">
                <span style="color: #{{item.itemId.context.hex}}">{{item.itemId.context.name}}</span>
                {{item.itemId.name}}
              </p>
              <p>To {{item.characterId.name}} for {{item.cost}} GP</p>
            </h6>
            {{!--<h6 class="item-context col s12" style="color: #{{item.itemId.context.hex}}">{{item.itemId.context.name}}</h6>
            <div class="row item-details-row">
              {{#if item.itemId.isWeapon}}
                <div class="col s12 m6">
                  <p>{{item.itemId.inventoryType.name}}</p>
                  <p>{{item.itemId.weaponInfo.damage.exactMin}}-{{item.itemId.weaponInfo.damage.exactMax}} Damage</p>
                </div>
                <div class="col s12 m6">
                  <p>{{item.itemId.itemClass.subClass.name}}</p>
                  <p>Speed {{item.itemId.weaponInfo.weaponSpeed}}</p>
                </div>
              {{else if item.itemId.stats.armor}}
              <div class="col s12">
                <p>{{item.itemId.inventoryType.name}}</p>
                <p>{{item.itemId.stats.armor}} Armor</p>
              </div>
              {{else}}
                <div class="col s12">
                  <p>{{item.itemId.inventoryType.name}}</p>
                </div>
              {{/if}}
            </div>
            <br />
            <div class="row stats-row">
              <div class="info stats-primary col s12 m6 white-text">
                {{#each item.itemId.stats.primary as |stat|}}
                  <p>{{stat.amount}} {{stat.name}}</p>
                {{/each}}
              </div>
              <div class="info stats-secondary col s12 m6 white-text">
                {{#each item.itemId.stats.secondary as |stat|}}
                  <p>{{stat.amount}} {{stat.name}}</p>
                {{/each}}
              </div>
            </div>
            --}}
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
