<div class="roster-tab">
  <div class="row tab-header">
    <h4>Mythic Raid Team</h4>
  </div>
  <ul class="row">
    {{#each model as |character|}}
    <li class="col s12 m6 l3">
      <div class="card grey darken-4">
        <div class="card-content row {{index-to-class character.characterId.class true}}">
          <div class="content-wrap">
            <h6 class="name col s12 white-text">{{character.characterId.name}}</h6>
            <img src="https://us.battle.net/static-render/us/{{character.characterId.thumbnail}}" class="col s6 m4"/>
            <div class="info col s6 m8 white-text">
              <h6>Item Level</h6>
              <p>{{character.characterId.items.averageItemLevelEquipped}} /
              {{character.characterId.items.averageItemLevel}}</p>

              <h6>Spec</h6>
              <p>{{character.characterId.spec.name}}</p>
            </div>
            <div class="epgp-count col s6 white-text">
              EP: {{character.effortPoints}}
            </div>
            <div class="epgp-count col s6 white-text right-align">
              GP: {{character.gearPoints}}
            </div>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
