<div class="row">
  <div class="col s6 offset-s3">
    <p class="flow-text">Enter the contents of the EPGP export into the below form.</p>

    {{#if submitError}}
      <p class="red-text">{{submitError}}</p>
    {{/if}}

    <form class="form-horizontal" {{action "submit" on="submit"}}>
      <div class="row">
        {{md-input value=apiKey label='API Key' class="col s12" validate=true required=true}}
      </div>

      <div class="row">
        {{md-textarea label='EPGP Export' value=epgpData class="col s12" required=true}}
      </div>

      <div class="row">
        {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Submit' isDisabled=isProcessing}}
      </div>
    </form>
  </div>
</div>
