{{md-parallax image="/assets/images/legion-2560x1440-wide.jpg"}}
<div id="home" class="section grey darken-4 white-text">
  <div class="row container">
    <h1>No Breaks</h1>
    <p>
      We are a raiding guild on Thrall (9/13 Mythic HFC). Although we're not
      hardcore raiders, we buckle down when necessary. No Breaks prides itself
      on creating a close-knit community and friendly, albeit weird, members.
      We have a guild leader that isn't a scrub and we wear pink on Fridays!
    </p>

    <h2>Plans for Legion</h2>
    <p>
      No Breaks will be raiding in Legion! We are looking for some new members
      to fill out our current raid team and help us with progression when the
      new expansion drops.
    </p>
  </div>
</div>

{{md-parallax image="/assets/images/emerald-nightmare.jpg"}}
<div id="raiding" class="section blue-grey white-text">
  <div class="row">
    <div class="col s12 m4 offset-m1">
      <h1>Raiding</h1>
      <p>Did we mention we raid? Check out our progress, laugh at our logs, and watch us on Twitch!</p>
      <br>
      {{#link-to 'raiding.roster' tagName='button' class='btn cyan'}}
        {{link-to 'Raiding' 'raiding.roster'}}
      {{/link-to}}
    </div>
    <div class="col s12 m7">
      <h5>Reasons Why the Bear is Crying</h5>
      <img src="/assets/images/nobreaks.png" alt="whaaa">
      <ul id="bear-sayings" class="bear-sayings">
        <li>Krothac's DPS</li>
        <li>We had to listen to Murloc bitch about sports</li>
        <li>Kon called us scrubs again</li>
        <li>Some new guy just looted the last piece of Krothac's set</li>
        <li>Angel has one weed</li>
        <li>Murloc is talking about lore again</li>
        <li>We're trying to eat and Shadow won't stop yelling "GoGoGoGo"</li>
        <li>Shad said there are better guilds out there</li>
        <li>The healer is Kro-faced</li>
        <li>Kon won't share his snacks</li>
        <li>We have a case of the dumbs</li>
        <li>Vxar forgot /rt Iskar again</li>
        <li>Poor life choices</li>
        <li>Mistakes have been made</li>
        <li>691 is overgeared?</li>
        <li>We have a holy priest!</li>
        <li>Angel is talking about dude wipes again...</li>
        <li>Why can't I dps in my healing gear??</li>
      </ul>
    </div>
  </div>
</div>

<div id="social" class="section blue-grey darken-3">
  <div class="row container white-text">
    <h1>Social</h1>
    <div class="col s12 m4">
      <a href="https://www.facebook.com/groups/448758615283027/" target="_blank" class="btn cyan">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook Group
      </a>
    </div>
    <div class="col s12 m4">
      <a href="https://www.twitch.tv/nobreaksraiding" target="_blank" class="btn cyan">
        <i class="fa fa-twitch" aria-hidden="true"></i>Twitch Channel
      </a>
    </div>
    <div class="col s12 m4">
      <a href="https://www.youtube.com/channel/UCiTx1a_BI53itw-fHNIib2w" target="_blank" class="btn cyan">
        <i class="fa fa-youtube-square" aria-hidden="true"></i>
        Murloc's Channel
      </a>
    </div>
  </div>
</div>

{{md-parallax image="/assets/images/legion.png"}}
<div id="join" class="section grey lighten-4">
  <div class="row container">
    <div class="col s12 m5">
      <img src="/assets/images/nobreaks-crest.png" alt="Mistakes Have Been Made">
    </div>
    <div class="col s12 m7">
      <h1>Call to Arms!</h1>
      <p>We are preparing for Legion! Join in on the fun and find some leveling buddies!</p>
      <p>
        Either post on the forums or message a guild member for more information. ShdowHuntr (SweetTea#1139) is the recruitment officer.
      </p>
      {{#link-to 'join' tagName='button' class='cyan btn'}}
        {{link-to 'Join' 'join'}}
      {{/link-to}}
    </div>
  </div>
</div>

<div id="store" class="section blue-grey lighten-4">
  <div class="row container">
    <div class="col s12 m8">
      <h3>Looking for Loot?</h3>
      <p>Score some No Breaks swag and represent. All profit from items sold directly supports our website, forums, Mumble server, and guild activities.
        <br><br>
        <a href="http://nobreaks.storenvy.com/" target="_blank" type="button" class="btn cyan">Go Shopping</a>
      </p>
    </div>
    <div class="col s12 m4">
      <img src="/assets/images/mug.png" alt="Mistakes Have Been Made">
    </div>
  </div>
</div>
